<div class="header-div">
    <ul>
        <li class="li-float-left">
            <a class="a-logo" (click)="home()">Fuqua Acronyms</a>
        </li>
  

        <li class="li-item li-float-right">
            <div style="display: inline-block">
                <a class="a-menu-item">Search</a>
                <span style="padding-right: 0.45rem;"></span>
                <input  
                [(ngModel)]="filterTerm"
                (keyup)="onKeyupFilter()"
                type="text" 
                size="20">
            </div>
        </li> 

        @if (administrator) {
            <li class="li-item li-float-right">
                <a class="a-menu-item" routerLink="/acronyms/new-acronym">New Acronym</a>
            </li> 
        }
  
  
    </ul>
  </div>	
  
  <hr style="color: white;">
  
  <router-outlet></router-outlet>

  