.header-div {
  height: 4rem;
  width: 100%;
  background-color: #312797;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* position: fixed; */
    top: 0;
    width: 100%;
    /* z-index: 9999; */
  }
  
  .li-float-left {
      float: left;
  }
  
  .li-float-right {
    float: right;
  }

  .li-item {
    /* padding-left: 2rem; */
    padding-top: 1.3rem;
    padding-right: 1rem;
  }
  
  .a-logo {
    display: block;
    color: white;
    text-align: center;
    /* padding: 1rem 1.1rem; */
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .a-logo:hover {
    cursor: pointer;
  }

.a-menu-item {
  color: white;
  text-decoration: none;
}

.a-menu-item:hover {
  cursor: pointer;
}
