
<div class="table-grid-acronyms">
    <div class="acronym-header acronym-header-center">Acronym</div>
    <div class="acronym-header">Refers To</div>
    <div class="acronym-header">Definition</div>
    <div class="acronym-header">Area Key</div>
    <div class="acronym-header">Tags</div>

    @for (a of acronyms; track a.id) {
        @if (a.display) {
            <!-- <div [class]="calculateStriping($even)" type="text">{{ a.acronym }}</div> -->
            <div [class]="calculateStriping($even)" type="text" [innerHTML]="highlight(a.acronym, a.display)"></div>
            <div [class]="calculateStriping($even)" type="text" [innerHTML]="highlight(a.refersTo, a.display)"></div>
            <div [class]="calculateStriping($even)" type="text" [innerHTML]="highlight(a.definition, a.display)"></div>
            <div [class]="calculateStriping($even)" type="text" [innerHTML]="highlight(a.areaKey, a.display)"></div>
            <div [class]="calculateStriping($even)" type="text" [innerHTML]="highlight(a.tagString, a.display)"></div>
        }
    }
 </div>

