
<div class="table-grid-acronyms">
    <div class="acronym-header acronym-header-center">Acronym</div>
    <div class="acronym-header">Refers To</div>
    <div class="acronym-header">Definition</div>
    <div class="acronym-header">Area Key</div>
    <div class="acronym-header">Tags</div>
    <div class="acronym-header">Last Updated</div>

    @for (a of acronyms; track a.id) {
        <div [class]="calculateStriping($even)" type="text">{{ a.acronym }}</div>
        <div [class]="calculateStriping($even)" type="text">{{ a.refersTo }}</div>
        <div [class]="calculateStriping($even)" type="text">{{ a.definition }}</div>
        <div [class]="calculateStriping($even)" type="text">{{ a.areaKey }}</div>
        <div [class]="calculateStriping($even)" type="text">{{ a.tagString }}</div>
        <div [class]="calculateStriping($even)" type="text">{{ a.lastUpdatedBy }} {{ a.lastUpdated }}</div>
    }
 </div>

