<p>acronyms-edit-component works!</p>


<!--
<div class="table-grid-acronyms">
    <div class="acronyms-header"></div>
    <div class="acronyms-header">Acronym</div>
    <div class="acronyms-header">Refers To</div>
    <div class="acronyms-header">Definition</div>
    <div class="acronyms-header">Area Key</div>
    <div class="acronyms-header">Tags</div>
    <div class="acronyms-header">Last Updated</div>


    @for (a of acronyms; track a.id) {
        <div class="acronym-input-div acronym-input-div-center" >
        <img src="assets/images/checkmark-16.png" class="acronym-image" [hidden]="getHidden(a.id)">


        <a [class]="calculateSaveClass(a.id)" (click)="onSaveAcronym(a.id)" >
            <img src="assets/images/save-outline-icon.png" class="acronym-image">
        </a>

        <span style="padding-left: 0.5rem;"></span>

        <a class="enabled-link" (click)="onDeleteAcronym(a.id)" >
            <img src="assets/images/deleteCase.jpg" class="acronym-image">
        </a>
        </div>

        <div class="acronym-input-div">
            <input  
            [(ngModel)]="a.acronym"
            (keyup)="hideCheckmark(a.id)"
            type="text" class="input-box input-box-acronym" 
            nminlength="2"
            size="10">
        </div>

        <div class="acronym-input-div">
        <input  
        [(ngModel)]="a.refersTo"
        (keyup)="hideCheckmark(a.id)"
        type="text" class="input-box input-box-refers-to" 
        minlength="1"
        size="80">
        </div>

        <div class="acronym-input-div">
        <textarea class="form-control input-box input-textarea-description" 
            [(ngModel)]="a.definition"
            (keyup)="hideCheckmark(a.id)"
            (paste)="hideCheckmark(a.id)"
            rows="5">
        </textarea>
        </div>

        <div class="acronym-input-div">
        <input 
        [(ngModel)]="a.areaKey"
        (keyup)="hideCheckmark(a.id)"
        type="text" class="input-box input-box-area-key" 
        minlength="1"
        size="10">
        </div>

        <div class="acronym-input-div">
        <textarea class="form-control input-box input-textarea-description" 
            [(ngModel)]="a.tagString"
            (keyup)="hideCheckmark(a.id)"
            (paste)="hideCheckmark(a.id)"
            rows="1">
        </textarea>
        </div>

        <div class="acronym-input-div">
        <span class="input-box">Last Updated</span>
        </div>

    }
 </div>
-->

